@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);
@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");

:root {
	
/* square avatars and status*/

	--rs-small-spacing: 0px;  /* spacing between avatar and status */
	--rs-large-spacing: 0px;  /* spacing between avatar and status for user popouts & modals/profiles */
	--rs-width: 2px;  /* Width/thickness of status border */
	--rs-avatar-shape: 0;  /* 50% for round - 0% for square */
	--rs-online-color: #43b581;  /* color for online status */
	--rs-idle-color: #faa61a;  /* color for idle status */
	--rs-dnd-color: #f04747;  /* color for dnd status */
	--rs-offline-color: #636b75;  /* color for offline status */
	--rs-streaming-color: #643da7;  /* color for streaming status */
	--rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */

}

/* ~~~~		GUILDCOUNTER		~~~~ */

#gc-counter { 
	color: white;
}

/* ~~~~		ROUND SERVERS		~~~~ */

.wrapper-1Rf91z .expandedFolderBackground-2sPsd-, .wrapper-1Rf91z .folder-21wGz3, .wrapper-1Rf91z .folderIconWrapper-226oVY, .wrapper-1Rf91z .iconSizeSmol-2Dw61G, .wrapper-1Rf91z {
  border-radius: 0px;
}
.listItem-2P_4kh * {
  -webkit-mask: none;
          mask: none;
  border-radius: 0px;
}

/* ~~~~		DEWATERMARK		~~~~ */

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.typeWindows-1za-n7.titleBar-AC4pGV.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 > div.wordmark-2iDDfm::after {
	content: "" !important;
	display: none !important;
	position: absolute !important;
	top: unset !important;
	left: unset !important;
	bottom: unset !important;
	right: unset !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	visibility: visible !important;
	transform: unset !important;
	animation: unset !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i:after {
	content: "" !important;
	display: none !important;
	position: absolute !important;
	left: unset !important;
	bottom: 7px !important;
	top: unset !important;
	right: 15px !important;
	opacity: 0.3 !important;
	padding: 0 !important;
	margin: 0 !important;
	visibility: visible !important;
	transform: unset !important;
	animation: unset !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT {
	position: relative !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT:after {
	content: "Theme cracked by the Hypesquad Founder" !important;
	font-size: 12px !important;
	color: var(--text-muted) !important;
	cursor: pointer !important;
	display: inline !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: text !important;
	visibility: visible !important;
	position: relative !important;
	top: unset !important;
	left: unset !important;
	bottom: unset !important;
	right: unset !important;
	transform: unset !important;
	animation: unset !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT:before {
	content: "" !important;
	font-size: 12px !important;
	color: rgb(var(--vaccentcolor)) !important;
	display: none !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: pointer !important;
	visibility: visible !important;
	position: absolute !important;
	top: unset !important;
	left: 113px !important;
	bottom: 9px !important;
	right: unset !important;
	transform: unset !important;
	animation: unset !important;
}

/* ~~~~		custom wordmark		~~~~ */

@import url(https://botatooo.github.io/css-snippets/discord-logo-font/discord.css);
.wordmark-2iDDfm:after {
    content: "DISCORDN'T";
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    font-family: "Discord";
}

.wordmark-2iDDfm svg {
  display:none;
}

.wordmark-2iDDfm {
    max-width:90vw;
    overflow:hidden;
    text-overflow:ellipsis;
}
